*{
	box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{	
font-family: 'Poppins', sans-serif;
font-size: 14px !important;
overflow-x: hidden;

}

.dropdown-toggle {
    background: rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown-menu li a:hover,
.dropdown-menu li a:focus {
    background-color: #FE980F;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}  
    #exzoom {
        width: 400px;
        /*height: 400px;*/
    }
    .container { margin: 150px auto; max-width: 960px;}
    .hidden { display: none; }

button{
	padding:15px 50px;
	border:none;
	box-shadow:0 4px 6px 0 rgba(0,0,0,0.12);	
}
#Buy,.Add{
font-weight:700;
font-size:18px;
color:#fff;
background-color:#ff9f00;
}
.Add{
	background-color:#172337;
}
.stretch-card>.card {
    width: 100%;
    min-width: 100%
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.main-image {
    width: 100%
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 1rem
}

.card .card-title {
    color: #000000;
    margin-bottom: 0.625rem;
    text-transform: capitalize;
    font-size: 0.875rem;
    font-weight: 500
}

.card .card-description {
    margin-bottom: .875rem;
    font-weight: 400;
    color: #76838f
}


.navbar a {
    font-size: 14px!important;
    text-align: center;

}
.navbar a {
    font-size: 13px!important;
    text-align: center;
}

.fa-star{
	font-size:20px !important;
}
a:hover;{
}

.shop-add-btn-cont {
    margin-right: 40px;
	transition:2s!important;
}
.button.gray-light {
    background-color: #172337;
	transition: 2s!important;
}
.button.medium {
    padding: 10px 37px 10px 37px;
    display: inline-block;
}
.shop-add-btn {
    display: block;
    width: 90%;
    padding-left: 0!important;
    padding-right: 0!important;
		
}
#cont h5{
	color:#fff;
	
}

.navbar{
	box-shadow: 0 2px 20px 0 rgb(0 0 0 / 47%);
}
a{
    text-decoration: none!important;
    color:#222;
	cursor: pointer;
    font-size: 1em;
}
a:hover{
    color:deepskyblue;
}
ul{
    list-style: none;
	
}
.small_img{
	border:solid 3px #f0f0f0;
    width:80px;
	padding:4px;
	margin:3px;
	background-color:#fff;
}
.small_img:hover{
	border:solid 1px #f0f0f0;
    width:80px;
	padding:4px;
	margin:3px;
	background-color:#e0e0e0!important;
}
/*end jquery-zoom slider */
img:hover{
    filter: brightness(110%);	
    vertical-align: middle;
}
.clearfix:after,
.clearfix:before{
    content: "";
    clear: both;
}
.clearfix:after{
    display: table;
}
/*=================================*/
.menu-container{
	width:100%;
	display: none;
	margin-top:-20px;
	background:#172337!important;
	min-height:5vw;
	
}
.menu-container:after,
.menu-container:before{
    content: "";
    clear: both;
}
.menu-container:after{
    display: table;
}
.menu-container .manu{
	width:95%;
	display: block;
	
	margin: 0 auto 0 auto;
	left: 0px;
  top: 0px;
  z-index: 1;
  
}

.bx-wrapper { 
   -moz-box-shadow: none; 
   -webkit-box-shadow: none; 
   box-shadow: none!important; 
   border: 0!important; 
} 
 .bx-wrapper .bx-controls-direction a { 
     position: absolute; 
     top:34%!important; 
     margin-top: -16px; 
     outline: 0; 
     width: 47px!important; 
     height: 104px!important; 
     text-indent: -9999px; 
     z-index: 9999;    	 
} 
 .bx-wrapper .bx-prev { 
 left: 0px!important; 
  
  background: url('images/left-chevron.svg') no-repeat 0 33px!important;  
 }

 .bx-wrapper .bx-prev{ 
	 width:-10px!important; 
 } 
 .bx-wrapper .bx-controls-direction a{ 
	 padding: 56px1px 22px; 
	 cursor: pointer; 	 
	 width:51px!important;  
     padding: 10px;
   
 }
 .bx-wrapper .bx-next { 
     right: 0px!important; 
     background: url('images/right-arrow.svg') no-repeat 0 33px!important;
	 width:-80px!important;
     ::-webkit-scrollbar 
      overflow:hidden!important;
	 
 } 
 .bx-wrapper .bx-controls-direction a { 
     padding: 56px 22px;  
     cursor: pointer; 
	 display: inline-block; 
	 width:51px!important;
     border-radius: 0 4px 4px 0!important;	  
 } 
ul:not(.u-unstyled) 
        { 
          margin-top: 10px!important;  
        
         } 
 .slider-wrapper { 
         display: flex; 
         position: relative; 
         width: 100%; 
         height:7vw; 
         max-height: 500px; 
         min-height: 300px;  
         overflow: hidden; 
		 border: 1px solid #fff; 
		 box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%); 
       } 

       .slider-wrapper ul { 
           list-style: none; 
           margin: 0; 
           padding: 0; 
       } 

       slider-img 
          ul.slider-img { 
          display: flex; 
          position: absolute; 
          width: 100%; 
          height: 100%; 
          left: 0; 
         
      } 

       ul.slider-img li { 
         flex: 1 0 100%; 
       } 
       ul.slider-img li img { 
         width: 100%; 
         height: 100%; 
         object-fit: cover; 
       }

  slider-arrow 
          ul.slider-arrow { 
          position: relative; 
         color: #fff; 
         font-size: 2rem; 
         display: flex; 
         justify-content: space-between; 
         height: 100%; 
         width: 100%; 
         text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6); 
       } 

       @media screen and (min-width: 768px) { 
         ul.slider-arrow { 
           font-size: 2.5rem; 
         } 
       } 

       ul.slider-arrow li { 
         display: flex; 
         align-items: center; 
         cursor: pointer; 
         height: 100%; 
         padding: 0 15px; 
         opacity: 0.4; 
         
       } 

       ul.slider-arrow li:hover { 
         opacity: 1; 
       } 

   
       .slider-dot { 
         position: absolute; 
         bottom: 15px; 
         display: flex; 
         justify-content: center; 
         align-items: flex-end; 
         width: 100%;
         color: #fff; 
         text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6); 
       }


       .slider-dot li { 
         cursor: pointer; 
        margin: 0 8px; 
         font-size: 0.6rem; 
         opacity: 0.4; 
       } 

       .slider-dot li.active { 
         opacity: 1; 
       } 

       
	  
 .slider-wrapper .slider-dot{ 
	 display:block;
     overflow:hidden!important;	 
 }	 
 
	
	
 .bx-container { 
     height:450px!important; 
     width:170px!important; 
     overflow: hidden; 
     list-style-type: none; 
 } 

 .bx-container .slide-div {background: no-repeat center center; 
     background-size:contain; */
     width:100%; 
     height:100%; 
	 margin-top:-117px; 
	
 } 


 #head { 
	 padding: 15px 20px; 
     border-bottom: 1px solid rgba(0,0,0,.1);
	 margin-top:13px;
     text-align: initial;	 
 }	 

 #head h1{ 
	 
	  font-size:22px; 
	  font-weight:500; 
 }	  
	 
 #head h3{ 
	 font-size: 14px; 
     color: #b2b2b2; 
     font-weight: 400; 
 } 

 .bx-container.hover p strong{ 
	 color: #ca3c3c!important; 
	 text-align:center; 
	 font-size:32px; 
	 font-weight:500; 
	
 } 
.text-white {
    text-align: initial;
}

 .bx-container.hover p small{ 
      line-height: 20px;  
	  color:red!important; 
 } 
 .bx-container .hover{ 
 text-align:center; 
 position:absolute; 
 bottom: 0; 
 left: 0; 
 width: 100%; 
 display:block; 
 padding:64px 0px; 
 } 

 .bx-wrapper .bx-pager{ 
	 display:none; 	
 } 
.item img{
    display: inline-block;
    margin-top:70px!important;    
    border-radius: 5px;
    margin: 10px
	transition: 2s!important;
}

.correct-item {
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); */
    position: relative;
    border-radius: 5px;
   
    webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
    
	margin-top:70px;
}

.correct-item:after {
    content: "";
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
    opacity: 0;   
}

.correct-item:hover:after {
    opacity: 1
}

.correct-item:hover {
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25)
}
/* start-footer*/
footer.bg-success {
    background-color:#172337!important;
	border-top: 6px solid #aba7a6;

}
 img.logo-footer {
    max-width: 50%;
    margin-top: 0;
    margin-bottom: 18px;
}	
 
#Gallery img{
 width:40px!important;
 height:40px!important;
}
#Gallery.big img{
 width:350px!important;
 height:400px!important;
 float:left;
} 
/*--------single product dtails--------*/

.single-product{
	margin-top:80px;
	
}
.single-product .col-2 img{
	padding:;
	
}
.navbar {
	background-color:#172337!important;
}
.navbar-toggler-icon{
	background-color: white;
}

.single-product .col-2{
padding:20px;
}

.single-product .h4{
margin:20px 0;
font-size:22px;
font-weight:bold;
}
.single product select{
}	